[submodule "sub/ros2_humble_install_sh"]
	path = sub/ros2_humble_install_sh
	url = https://github.com/Jinsun-Lee/ros2_humble_install_sh.git
[submodule "sub/simulation_ws"]
	path = sub/simulation_ws
	url = https://github.com/Jinsun-Lee/simulation_ws.git
[submodule "sub/ros2_ws"]
	path = sub/ros2_ws
	url = https://github.com/Jinsun-Lee/ros2_ws.git
[submodule "sub/ros2_benz_amg_sdf"]
	path = sub/ros2_benz_amg_sdf
	url = https://github.com/Jinsun-Lee/ros2_benz_amg_sdf.git
[submodule "sub/ros2_huggingface_pkg"]
	path = sub/ros2_huggingface_pkg
	url = https://github.com/Jinsun-Lee/ros2_huggingface_pkg.git
[submodule "sub/ros2_wooden_mount_sdf"]
	path = sub/ros2_wooden_mount_sdf
	url = https://github.com/Jinsun-Lee/ros2_wooden_mount_sdf.git
[submodule "sub/ros2_race_bingbong"]
	path = sub/ros2_race_bingbong
	url = https://github.com/Jinsun-Lee/ros2_race_bingbong.git
[submodule "sub/ros2_vehicle_sdf"]
	path = sub/ros2_vehicle_sdf
	url = https://github.com/Jinsun-Lee/ros2_vehicle_sdf.git
[submodule "sub/ros2_convert_pyc_gui"]
	path = sub/ros2_convert_pyc_gui
	url = https://github.com/Jinsun-Lee/ros2_convert_pyc_gui.git
[submodule "sub/ros2_track_sdf"]
	path = sub/ros2_track_sdf
	url = https://github.com/Jinsun-Lee/ros2_track_sdf.git
[submodule "sub/ros2_zonal_ws"]
	path = sub/ros2_zonal_ws
	url = https://github.com/Jinsun-Lee/ros2_zonal_ws.git
